<!DOCTYPE html>
<html>
  <head>
	<p style="color:orange;border-width:10px;border-style:solid;border-color:black;">
	<h3 style="color:blue;">Welcome Gator!</h3>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
	<p style="color:orange;border-width:10px;border-style:solid;border-color:orange;">
    <link rel="stylesheet" href="style.css">
  </head>
  <body ng-app="directoryApp">
    <div class="container">
      <div class="row">
        <h1 style="color:black;"> UF Directory App</h1>
		<p style="color:orange;border-width:10px;border-style:solid;border-color:blue;">
      </div>
      <div class="row" ng-controller="ListingsController">
        <div class="col-md-6">
          <div class="input-group" id="searchBar">
		 
				<!--
                Implement a way to filter through listings using the search bar 

              -->
            <span class="input-group-addon" id="sizing-addon1"><span class="glyphicon glyphicon-search"></span></span>
            <input type="text" ng-model="searchText" class="form-control" placeholder="Search">
          </div>
          <div class="tableWrapper">
            <table class="table table-striped table-hover">
              <tr>
                <th>Code</th>
                <th>Building Name</th>
                <th></th>
              </tr>
			  
			  <tr ng-repeat="key in listings | filter : searchText" ng-click="showDetails(key)">
				<td>{{key.code}}</td>
				<td>{{key.name}}</td>
				<td>
					<button ng-click="deleteListing(key)">Delete</button>
				</td>
			  
			  </tr> 
			  
              <!-- 

                  Fill in the rest of the table:
                      * populate the rows with the code and name of each listing
                      * include a way to remove individual listings

                --> 
            </table>
          </div>
		  
				<input type="button" id="idea" value="Add New" ng-click="addListing()">
				<input type="text" ng-model="code" class="form-control-sm" placeholder="Enter the code" />
				<input type="text" ng-model="name" class="form-control-sm" placeholder="Enter the name" />	
				<input type="text" ng-model="latitude" class="form-control-sm" placeholder="Enter the latitude" />
				<input type="text" ng-model="longitude" class="form-control-sm" placeholder="Enter the longitude" />
				<input type="text" ng-model="address" class="form-control-sm" placeholder="Enter the address" />
				
          <!-- 

              Write an HTML form that adds new listings to the directory 

            -->
        </div>
        <div class="col-md-6">
          <div class="jumbotron">
		  <p style="color:orange;border-width:10px;border-style:solid;border-color:orange;">
            <h2><font color="black">Detail Information</font></h2>
			<p style="color:orange;border-width:10px;border-style:solid;border-color:blue;">
			
			<div>
				<h4> Code: {{detailedInfo.code}}</h4>
				<h4> Name: {{detailedInfo.name}}</h4>
				<h4> Coordinates:
					<li>Latitude: {{detailedInfo.coordinates.latitude}}</li>
					<li>Longitude: {{detailedInfo.coordinates.longitude}}</li>
				</h4>
				<h4>Address: {{detailedInfo.address}}</h4>
			</div>
            
			<button ng-click="count = count + 1" ng-init="count=0">
			<font color="blue">Are you a Gator?</font>
				
				</button>
				<span>
				<font color="black">Yes: {{count}}</font>
				</span>
				
				<!--
			

              
			  Include a way to display detailed information about an individual listing:
                   * consider how to use ng-click within the the table to implement this feature

             -->
          </div>
        </div>
      </div>
    </div>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js" integrity="sha512-K1qjQ+NcF2TYO/eI3M6v8EiNYZfA95pQumfvcVrTHtwQVDG+aHRqLi/ETn2uB+1JqwYqVG3LIvdm9lj6imS/pQ==" crossorigin="anonymous"></script>
    <script src="https://code.angularjs.org/1.4.3/angular.js"></script>
    <script src="app.js"></script>
    <script src="listingController.js"></script>
    <script src="listingFactory.js"></script>
	<p style="color:orange;border-width:10px;border-style:solid;border-color:orange;">
	<a href="http://theconversation.com/explainer-what-are-memes-20789">What are memes?</a>
  </body>
</html>